.comment
    background-color: white
    border-radius: $border-radius

    &__body
        display: flex
        flex-direction: column
        padding: 1rem

    &__header
        font-weight: bold
        font-size: 18px
        line-height: 21px
        margin: 0
    
    &__email
        color: #959595
        font-size: 14px
        line-height: 16px
        margin: 0
        font-weight: normal
        
    &__text
        font-size: 16px
        line-height: 19px