body
    margin: 0
    font-family: $font-family
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.header
    text-align: center
    padding: 15px 0
    width: 100%
    font-family: RoadRadio
    font-weight: bold
    font-size: 64px
    text-transform: uppercase