.comments
    background-color: #E5E5E5
    
    &__body
        display: flex
        align-items: center
        flex-direction: column
        gap: 1rem
        padding: 1rem 0

    &__comment
        width: 90%