@import '../../styles/variables'

.filters
    background-color: $bg-color-accent
    color: $font-color-accent
    font-size: 18px
    line-height: 21px
    
    &__body
        padding: 15px 40px
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 15px
    
    &__search-input
        padding: 8px
        width: 244px
        border: none
        border-radius: $border-radius
    
    &__domains-list
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 5px

    &__domain
        background-color: $bg-color-domains
        padding: 8px
        color: $font-color-accent
        border: none
        font-size: 18px
        line-height: 21px
        border-radius: $border-radius
        cursor: pointer

        &_active
            background-color: $font-color-accent
            color: $bg-color-domains